{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Food Fetcher</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}">
    <link rel="icon" href="{% static 'images/pear.ico' %}">
</head>
<body>

<div class="container">
    <div class="logo">
        <img src="{% static 'images/pear-logo.png' %}" alt="">
        
        <h2 class="homepage-logo">Food Fetcher<span style="color: #40916c">.</span></h2>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="input-group food-input">
            <input type="text" name="query" class="form-control food-input-field" placeholder="Search for Food Item">
            <button  class="btn btn-outline-secondary food-input-btn" type="submit">Search</button>
        </div>
    </form>

    {% if api %}
    {% if api == "error" %}
        <div style="
        max-width: 50vw;
        margin: 2em auto 0 auto;
        background-color: #1C1F22;
        border-color: #e5383b;
        color: #e5383b"
             class="alert alert-danger" role="alert">
            Something went wrong. Please try again.
        </div>
    {% endif %}

    <h1 class="calories-message">{{ api.0.name|capfirst }} has a total of <strong style="color: #40916c">{{ api.0.calories }} calories</strong></h1>

    <div class="nutrients-activities-container">
        <div class="nutritional-values">
            <h2 class="sub-title">Nutritional Values</h2>

            <h4 class="serving-size">Serving size per {{ api.0.serving_size_g|floatformat:0 }} grams</h4>

            <ul type="none" class="nutrients">
                <li> <p>Protein:</p> <span>{{ api.0.protein_g }} g</span></li>
                <li> <p>Carbohydrates:</p> <span>{{ api.0.carbohydrates_total_g }} g</span></li>
                <li> <p>Sugar:</p> <span>{{ api.0.sugar_g }} g</span></li>
                <li> <p>Total fat:</p> <span>{{ api.0.fat_total_g }} g</span></li>
                <li> <p>Saturated fat:</p> <span>{{ api.0.fat_saturated_g }} g</span></li>
                <li> <p>Cholesterol:</p> <span>{{ api.0.cholesterol_mg }} g</span></li>
                <li> <p>Potassium:</p> <span>{{ api.0.potassium_mg }} g</span></li>
                <li> <p>Sodium:</p> <span>{{ api.0.sodium_mg }} g</span></li>
                <li> <p>Fiber content:</p> <span>{{ api.0.fiber_g }} g</span></li>
            </ul>
        </div>

        <div class="activities-values">
            <h2 class="sub-title">To burn 109 calories:</h2>

            <div class="activities">
                <div class="activity">
                    <img src="{% static 'images/running.png' %}" alt="">

                    <div class="activity-info">
                        <h4>Running</h4>

                        <p>You will have to run for 22 minutes</p>
                    </div>
                </div>

                <div class="activity">
                    <img src="{% static 'images/weight-lifting.png' %}" alt="">

                    <div class="activity-info">
                        <h4>Weight Lifting</h4>

                        <p>You will have to lift weights for 22 minutes</p>
                    </div>
                </div>

                <div class="activity">
                    <img src="{% static 'images/walking.png' %}" alt="">

                    <div class="activity-info">
                        <h4>Walk</h4>

                        <p>You will have to walk for 22 minutes</p>
                    </div>
                </div>

                <div class="activity">
                    <img src="{% static 'images/yoga.png' %}" alt="">

                    <div class="activity-info">
                        <h4>Power Yoga</h4>

                        <p>You will have to do power yoga for 22 minutes</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
</body>
</html>